version: "3"

services:

    phpmyadmin:
      container_name: phpmyadmin2
      image: phpmyadmin/phpmyadmin
      restart: always
      network_mode: host
      environment:
        - PMA_ARBITRARY=1
        - PMA_HOST=mysql
        - MYSQL_USERNAME=root
        - MYSQL_ROOT_PASSWORD=Gt3ds59Mdsm-d

    mysql:
      container_name: mysql2
      image: mysql
      restart: always
      user: "1000"
      volumes:
        - /srv/socks/mysql:/var/lib/mysql
        - /srv/socks/etc/mysql:/etc/mysql/conf.d
      environment:
        - MYSQL_USER=root
        - MYSQL_ROOT_PASSWORD=Gt3ds59Mdsm-d
    db:
        image: mysql:5.7
        restart: always
        environment:
          MYSQL_DATABASE: 'db'
          # So you don't have to use root, but you can if you like
          MYSQL_USER: 'root'
          # You can use whatever password you like
          MYSQL_PASSWORD: 'Gt3ds59Mdsm-d'
          # Password for root access
          MYSQL_ROOT_PASSWORD: 'Gt3ds59Mdsm-d'
        ports:
          # <Port exposed> : < MySQL Port running inside container>
          - '3306:3306'
        expose:
          # Opens port 3306 on the container
          - '3306'
          # Where our data will be persisted
        volumes:
          - my-db:/var/lib/mysql
    freeradius:
      container_name: freeradius2
      build: freeradius
      image: sfoxdev/freeradius
      restart: always
      env_file:
        - database.env
      environment:
        - SECRET=Ptdn64Hsk3
#      volumes:
#        - /var/lib/mysql/mysql.sock:/var/run/mysqld/mysqld.sock

    dante:
      container_name: dante2
      build: dante
      image: sfoxdev/dante
      restart: always
      network_mode: host
      environment:
        - SECRET=Ptdn64Hsk3

    daloradius:
      container_name: daloradius2
      build: daloradius
      image: sfoxdev/daloradius
      restart: always
      network_mode: host
      env_file:
        - database.env
        
volumes:
  my-db: