version: "3"

services:

    phpmyadmin:
      container_name: phpmyadmin2
      image: phpmyadmin/phpmyadmin
      restart: always
      network_mode: host
      environment:
        - PMA_ARBITRARY=1
        - PMA_HOST=mysql
        - MYSQL_USERNAME=root
        - MYSQL_ROOT_PASSWORD=Gt3ds59Mdsm-d

    mysql:
      container_name: mysql2
      image: mysql
      restart: always
      user: "1000"
      volumes:
        - /srv/socks/mysql:/var/lib/mysql
        - /srv/socks/etc/mysql:/etc/mysql/conf.d
      environment:
        - MYSQL_USER=root
        - MYSQL_ROOT_PASSWORD=Gt3ds59Mdsm-d

    freeradius:
      container_name: freeradius2
      build: freeradius
      image: sfoxdev/freeradius
      restart: always
      env_file:
        - database.env
      environment:
        - SECRET=Ptdn64Hsk3
#      volumes:
#        - /var/lib/mysql/mysql.sock:/var/run/mysqld/mysqld.sock

    dante:
      container_name: dante2
      build: dante
      image: sfoxdev/dante
      restart: always
      network_mode: host
      environment:
        - SECRET=Ptdn64Hsk3

    daloradius:
      container_name: daloradius2
      build: daloradius
      image: sfoxdev/daloradius
      restart: always
      network_mode: host
      env_file:
        - database.env
